@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import "tailwindcss";

@theme {
    --font-main: "Open Sans", sans-serif;
    --font-special: "Raleway", sans-serif;
    --color-dark: #1d1d1d;
    --color-mid: #a0a0a0;
    --color-light: #fdfdfd;
}